.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 5s linear infinite;
}

.ad {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
}

.backgr {
  background-color: #dd4b39;
}

@keyframes progress-indeterminate {
  from { left: -40%; width: 40%; }
  to { left: 100%; width: 40%;}
}
