.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 5s linear infinite;
}

.loading-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
}

.progress {
  height: 4px;
  z-index: 1;
}

@keyframes progress-indeterminate {
  from {
    left: -40%;
    width: 40%;
  }
  to {
    left: 100%;
    width: 40%;
  }
}
