<div class="container mt-4">
  <h3><strong>Restaurant Dashboard</strong></h3>
  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div class="d-flex flex-column justify-content-center mt-3" *ngIf="!isLoading">
    <div class="card mb-4" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>Daily Status</strong></h5>
        <div class="d-flex align-items-center">
          <div class="spinner-grow spinner-grow-sm bg-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <h6 class="card-subtitle ms-2 text-muted">Real Time</h6>
        </div>
        <div class="row">
          <div class="col">
            <p class="card-text"><span style="font-size: 24px">{{getTodayOrders().length}}</span> Daily Orders</p>
          </div>
          <div class="col">
            <p class="card-text"><span style="font-size: 24px">{{getDayFatur() | currency: 'USD': 'symbol'}}</span>
              Today Revenues</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title"><em class="bi-calendar-check"></em> Monthly</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <div class="row">
          <div class="col">
            <p class="card-text"><span style="font-size: 24px">{{getMonthyOrders().length}}</span> Monthly Orders</p>
          </div>
          <div class="col">
            <p class="card-text"><span style="font-size: 24px">{{getMonthFatur() | currency: 'USD': 'symbol'}}</span> Revenues</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title"><em class="bi-star"></em> Reviews</h5>
        <div class="row">
          <div class="col">
            <p class="card-text"><span style="font-size: 24px">{{getWeekReviews().length}}</span> Last week reviews</p>
          </div>
          <div class="col">
            <p class="card-text"><span style="font-size: 24px">{{getMonthReviewsAverage() | number : '1.2-2'}}</span> Week Average</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
