<div *ngIf="!isLoading">
  <section class="content">
    <div class="d-flex order-div mt-4">
      <div class="d-flex justify-content-center order-content">
        <section class="mt-4 mb-4 me-4 w-100">
          <h3>
            <strong>Checkout</strong>
          </h3>
          <form [formGroup]="orderForm" novalidate>
            <h4 class="page-header">
              Delivery Details
            </h4>
            <div formGroupName="addressGroup">
              <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       formControlName="streetName"
                       id="address"
                       placeholder="Street Name"
                       minlength="3"
                       maxlength="50"
                       autocomplete="off"
                       [ngClass]="{ 'is-invalid': streetName.invalid && ( streetName.dirty ||  streetName.touched) }">
              </div>
              <div class="row">
                <div class="col mb-3">
                  <input type="text"
                         class="form-control"
                         id="streetNumber"
                         formControlName="streetNumber"
                         placeholder="Street Number"
                         autocomplete="off"
                         mask="0*"
                         [ngClass]="{ 'is-invalid': streetNumber.invalid && ( streetNumber.dirty ||  streetNumber.touched) }">
                </div>
                <div class="col mb-3">
                  <input type="text"
                         class="form-control"
                         id="neighborhood"
                         formControlName="neighborhood"
                         placeholder="Neighborhood"
                         minlength="3"
                         maxlength="30"
                         autocomplete="off"
                         [ngClass]="{ 'is-invalid': neighborhood.invalid && ( neighborhood.dirty ||  neighborhood.touched) }"
                  >
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <input type="text"
                         class="form-control"
                         id="city"
                         formControlName="city"
                         placeholder="City"
                         minlength="3"
                         maxlength="30"
                         autocomplete="off"
                         [ngClass]="{ 'is-invalid': city.invalid && ( city.dirty ||  city.touched) }">
                </div>
                <div class="col mb-3">
                  <input type="text"
                         class="form-control"
                         id="postalCode"
                         formControlName="postalCode"
                         placeholder="Postal Code"
                         autocomplete="off"
                         mask="00000-000"
                         [dropSpecialCharacters]="true"
                         [ngClass]="{ 'is-invalid': postalCode.invalid && ( postalCode.dirty ||  postalCode.touched) }"
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input type="text"
                         class="form-control"
                         id="complement"
                         formControlName="complement"
                         placeholder="Apartment, suite, floor, etc."
                         minlength="3"
                         maxlength="30"
                         autocomplete="off"
                         [ngClass]="{ 'is-invalid': complement.invalid && ( complement.dirty ||  complement.touched) }">
                </div>
                <div class="col-6 mb-3">
                  <input type="text"
                         class="form-control"
                         id="reference"
                         formControlName="reference"
                         placeholder="Reference"
                         minlength="3"
                         maxlength="30"
                         autocomplete="off"
                         [ngClass]="{ 'is-invalid': reference.invalid && ( reference.dirty ||  reference.touched) }"
                  >
                </div>
              </div>
            </div>
            <div class="mt-4" formGroupName="paymentGroup">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <h4 class="page-header">
                    Payment
                  </h4>
                  <div class="form-group">
                    <select class="form-select" formControlName="paymentMethodId" id="paymentMethodId"
                            aria-label="select example">
                      <!--                          [ngClass]="{ 'is-invalid': orderForm.controls.paymentGroup.controls.paymentId.invalid && (orderForm.controls.paymentGroup.controls.paymentId.touched) }"
                      -->
                      <option value="">Select...</option>
                      <option *ngFor="let payment of paymentMethods"
                              value="{{payment.id}}">{{payment.name | PaymentForm}}</option>
                    </select>
                  </div>

                  <div *ngIf="paymentMethod.value && paymentMethod.value !== '4'" class="form-group mt-4">
                    <div class="input-group mb-3">
                      <input type="text"
                             class="form-control"
                             formControlName="name"
                             id="name"
                             placeholder="Card Name"
                             minlength="3"
                             maxlength="30"
                             autocomplete="off"
                             [ngClass]="{ 'is-invalid': name.invalid && ( name.dirty ||  name.touched) }">
                    </div>

                    <div class="col mb-3">
                      <input type="text"
                             class="form-control"
                             id="cardNumber"
                             formControlName="cardNumber"
                             placeholder="Card Number"
                             autocomplete="off"
                             mask="0000 0000 0000 0000"
                             [ngClass]="{ 'is-invalid': cardNumber.invalid && ( cardNumber.dirty ||  cardNumber.touched) }">
                    </div>
                    <div class="row">
                      <div class="col mb-3">
                        <input type="text"
                               class="form-control"
                               id="expiration"
                               formControlName="expiration"
                               placeholder="Expiration"
                               autocomplete="off"
                               mask="00/00"
                               [dropSpecialCharacters]="false"
                               [ngClass]="{ 'is-invalid': expiration.invalid && ( expiration.dirty ||  expiration.touched) }"
                        >
                      </div>

                      <div class="col mb-3">
                        <input type="text"
                               class="form-control"
                               id="cvv"
                               formControlName="cvv"
                               placeholder="Code"
                               autocomplete="off"
                               mask="000"
                               [ngClass]="{ 'is-invalid': cvv.invalid && ( cvv.dirty ||  cvv.touched) }">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row mt-3">
            <div class="col-xs-12">
              <button (click)="submitOrder()" class="btn btn-success pull-right"
                      [disabled]="!orderForm.valid || cartItems().length === 0"><em class="fa fa-credit-card"></em>
                Finish
                Order
              </button>
            </div>
          </div>
        </section>
      </div>

      <div class="d-flex order-detail justify-content-center">
        <div class="card w-100">
          <div class="card-body">
            <div class="row">
              <h6 class="card-title text-muted flex-row">Your order in</h6>
            </div>
            <h4 class="ml-2 mb-4 "><strong>{{restaurant.name}}</strong></h4>
            <div class="row justify-content-center">
              <app-order-items [items]="cartItems()" (increaseQty)="increaseQty($event)"
                               (decreaseQty)="decreaseQty($event)"
                               (remove)="remove($event)"></app-order-items>
            </div>
            <div class="col-lg-12">
              <app-order-delivery-costs [deliveryFee]="restaurant.deliveryFee"
                                        [subtotal]="getOrderTotalValue()"
                                        [total]="getOrderTotalValue() + restaurant.deliveryFee"></app-order-delivery-costs>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
