.order-div {
  flex-direction: row;
}

.order-detail {
  width: 40%;
}

.order-content {
  width: 60%;
}

@media (max-width: 1200px) {
  .order-div {
    flex-direction: column;
  }

  .order-detail {
    width: 100%;
  }

  .order-content {
    width: 100%;
  }
}
