.ddd {
  flex-direction: row;
}

.it {
  width: 40%;
}

.it2 {
  width: 60%;
}

@media (max-width: 1200px) {
  .ddd {
    flex-direction: column;
  }
  .it {
    width: 100%;
  }
  .it2 {
    width: 100%;
  }
  .fd {
    color: #e7a74e;
    font-size: 9px;
  }
}
