/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
/*@import '~ngx-toastr/toastr.css';*/
/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

table th, table td {
  display: table-cell;
  vertical-align: middle;
}

.cursor {
  cursor: pointer;
}

.btn-primary {
  background-color: #EC1C2D;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #EC1C2D;
  filter: brightness(120%);
}

.btn-primary:disabled {
  background-color: #EC1C2D;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #EC1C2D;
}

.text-gold {
  color: #e7a74e;
}

.text-red {
  color: #EA1D2C;
}

.bg-light-red {
  background-color: #FDEDEE;
}

.bg-red {
  background-color: #EA1D2C;
}
