.w-30 {
  width: 33%;
}

.cuisine-type-img {
  height: 62px;
  width: 76px;
}

.scale-effect:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .w-30 {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .w-30 {
    width: 100%;
  }
}
