<div class="cursor" [routerLink]="['/restaurants',restaurant.id]">
  <div class="card border-0 me-3">
    <div class="d-flex flex-row h-100 w-100">
      <div class="d-flex align-items-center justify-content-center">
         <span class="place-info-box-icon">
           <img src="{{'http://localhost:9999/restaurants/' + restaurant.id + '/image'}}" alt="restaurant logo"/>
         </span>
      </div>
      <div class="d-flex">
        <div class="card-body">
          <h5 class="card-title"><strong>{{restaurant.name}}</strong></h5>
          <span class="rating-yellow small">
            <strong><em class="fa fa-star"></em>
              {{restaurant.userRating | number : '1.1-1'}}</strong>
          </span>
          <span class="text-muted"> • {{restaurant.mainCategory}}</span>
          <p class="card-text"><small class="text-muted">{{restaurant.minDeliveryTime}}-{{restaurant.maxDeliveryTime}}
            min • $ {{restaurant.deliveryFee}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
