<button class="btn btn-primary btn-md mb-2" (click)="openAddModal()">
  <strong><em class="bi-plus-lg"></em> Add Category</strong>
</button>
<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let category of categories; let i = index">
    <h2 class="accordion-header" id="flush-heading-1">
      <div class="d-flex justify-content-end align-items-center">
        <a type="button" class="accordion-button collapsed text-start" data-bs-toggle="collapse"
           href="#List-{{ i }}" aria-expanded="true">
          <h5 class="content_title fw-bold w-100 text-left">{{category.name}}</h5>
        </a>
        <div class="d-flex align-items-end justify-content-end position-absolute"
             style="margin-right: 50px; z-index:1000;">
          <div class="btn-group me-2" role="group" aria-label="Basic example">
            <button (click)="updateCategoryStatus(category)" type="button" class="btn btn-sm"
                    [ngClass]="{'btn-primary': !category.active, 'btn-not-selected': category.active}">Disabled
            </button>
            <button (click)="updateCategoryStatus(category)" type="button" class="btn btn-sm"
                    [ngClass]="{'btn-primary': category.active, 'btn-not-selected': !category.active}">Active
            </button>
          </div>
          <button class="btn btn-sm me-1 mb-1 mb-lg-0">
            <em class="bi-pen text-secondary" (click)="openEditModal(category)"></em>
          </button>
          <button class="btn btn-sm" (click)="deleteMenuCategory(category)">
            <em class="bi-trash color-primary"></em>
          </button>
        </div>
      </div>
    </h2>
    <div id="List-{{ i }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
         data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <app-menu-item [category]="category"></app-menu-item>
      </div>
    </div>
  </div>
</div>
