<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><strong>Add Item</strong></h5>
    <button type="button" class="btn-close btn-close-red" (click)="hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center align-items-center mb-2">
      <img [src]="imageSrc" *ngIf="imageSrc">
    </div>
    <form [formGroup]="addMenuItemForm" (ngSubmit)="addItem()">
      <div class="form-group mb-3" formGroupName="image">
        <label for="file" class="form-label">Image</label>
        <input
          formControlName="file"
          id="file"
          type="file"
          class="form-control form-control-file"
          (change)="onFileChange($event)">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text"
               formControlName="name"
               class="form-control"
               id="name"
               minlength="3"
               maxlength="50"
               aria-describedby="emailHelp"
               [ngClass]="{ 'is-invalid': name.invalid && ( name.dirty ||  name.touched) }">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text"
               formControlName="description"
               class="form-control"
               id="description"
               minlength="3"
               maxlength="100"
               aria-describedby="emailHelp"
               [ngClass]="{ 'is-invalid': description.invalid && ( description.dirty ||  description.touched) }">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text"
               class="form-control"
               id="category"
               [value]="this.category.name"
               aria-describedby="emailHelp"
               disabled>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text"
               formControlName="price"
               class="form-control"
               id="price"
               mask="0*.99"
               aria-describedby="emailHelp"
               [ngClass]="{ 'is-invalid': price.invalid && ( price.dirty ||  price.touched) }">
      </div>
      <div class="mb-3">
        <label for="promotionalPrice" class="form-label">Promotional Price</label>
        <input type="text"
               formControlName="promotionalPrice"
               class="form-control"
               id="promotionalPrice"
               mask="0*.99"
               aria-describedby="emailHelp"
               [ngClass]="{ 'is-invalid': promotionalPrice.invalid && ( promotionalPrice.dirty ||  promotionalPrice.touched) }">
      </div>
      <div class="modal-footer mt-4">
        <button type="button" (click)="hide()" class="btn btn-lg btn-primary-outline">Close</button>
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!addMenuItemForm.valid || buttonLoading">
          <span *ngIf="buttonLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Add
        </button>
      </div>
    </form>
  </div>
</div>
