<div class="row">
  <div class="col-sm-4 mb-5">
    <app-resumo-pedido [order]="order"></app-resumo-pedido>
  </div>
  <div class="col-sm-8 mb-5">
    <form *ngIf="payment.status !== 'CREATED'" class="mb-5" #pagamentoForm="ngForm" (ngSubmit)="createPayment()">
      <h3>Payment Data</h3>
      <div class="form-group">
        <label for="formaDePagamento">Payment Method</label>
        <select class="form-control" required id="formaDePagamento" name="formaDePagamento" [(ngModel)]="payment.paymentMethodId">
          <option *ngFor="let method of paymentMethods" [ngValue]="method">{{ method }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Card Name</label>
        <input class="form-control" required id="name" name="name" [(ngModel)]="payment.name" placeholder="nome como impresso no cartão">
      </div>
      <div class="form-group">
        <label for="number">Card Number</label>
        <input class="form-control" required id="number" name="number" [(ngModel)]="payment.number"
          placeholder="0000 0000 0000 0000" [textMask]="{mask: cardNameMask}">
      </div>
      <div class="form-group">
        <label for="expiration">Expiration Date</label>
        <input class="form-control" type="month" required id="expiration" name="expiration" [(ngModel)]="payment.expiration">
      </div>
      <div class="form-group">
        <label for="code">Security Code</label>
        <input class="form-control" required id="code" name="code" [(ngModel)]="payment.code"
          placeholder="000" [textMask]="{mask: cardCodeMask}">
      </div>
      <button *ngIf="!payment.status" class="btn btn-primary" type="submit" [disabled]="!pagamentoForm.form.valid">Create Payment</button>
    </form>
    <div *ngIf="payment.status === 'CREATED'">
      <dl>
        <dt>Cartão</dt>
        <dd>{{ payment.number.substring(0, 5) }} XXXX XXXX XXXX</dd>
        <dt>Valor</dt>
        <dd>{{ order.total | currency:'BRL' }}</dd>
      </dl>
      <button class="btn btn-success mr-2" (click)="confirmPayment()">Confirmar pagamento</button>
      <button class="btn btn-danger" (click)="cancelPayment()">Cancelar pagamento</button>
    </div>
</div>
</div>
