<div class="row">
  <div class="col-sm-4 mb-5">
    <app-resumo-pedido [pedido]="pedido"></app-resumo-pedido>
  </div>
  <div class="col-sm-8 mb-5">
    <form *ngIf="pagamento.status !== 'CRIADO'" class="mb-5" #pagamentoForm="ngForm" (ngSubmit)="criaPagamento()">
      <h3>Dados do pagamento</h3>
      <div class="form-group">
        <label for="formaDePagamento">Forma de pagamento</label>
        <select class="form-control" required id="formaDePagamento" name="formaDePagamento" [(ngModel)]="pagamento.paymentMethod">
          <option *ngFor="let forma of formasDePagamento" [ngValue]="forma">{{ forma.nome }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Nome no cartão</label>
        <input class="form-control" required id="name" name="name" [(ngModel)]="pagamento.name" placeholder="nome como impresso no cartão">
      </div>
      <div class="form-group">
        <label for="number">Número do cartão</label>
        <input class="form-control" required id="number" name="number" [(ngModel)]="pagamento.number"
          placeholder="0000 0000 0000 0000" [textMask]="{mask: numeroCartaoMask}">
      </div>
      <div class="form-group">
        <label for="expiration">Data de expiração</label>
        <input class="form-control" type="month" required id="expiration" name="expiration" [(ngModel)]="pagamento.expiration">
      </div>
      <div class="form-group">
        <label for="code">Código de Segurança</label>
        <input class="form-control" required id="code" name="code" [(ngModel)]="pagamento.code"
          placeholder="000" [textMask]="{mask: codigoCartaoMask}">
      </div>
      <button *ngIf="!pagamento.status" class="btn btn-primary" type="submit" [disabled]="!pagamentoForm.form.valid">Criar pagamento</button>
    </form>
    <div *ngIf="pagamento.status === 'CREATED'">
      <dl>
        <dt>Cartão</dt>
        <dd>{{ pagamento.number.substring(0, 5) }} XXXX XXXX XXXX</dd>
        <dt>Valor</dt>
        <dd>{{ pedido.total | currency:'BRL' }}</dd>
      </dl>
      <button class="btn btn-success mr-2" (click)="confirmaPagamento()">Confirmar pagamento</button>
      <button class="btn btn-danger" (click)="cancelaPagamento()">Cancelar pagamento</button>
    </div>
</div>
</div>
