
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title"><strong>Order Summary</strong></h5>
      <div class="mt-5" *ngIf="order">
        <div class="d-flex align-items-start justify-content-between" *ngFor="let item of order.items">
          <hr>
          <p >{{ item.quantity }}x </p>
          <span>{{ item.name }}</span>
          <span>{{ item.quantity * item.promotionalPrice | currency:'USD': 'symbol' }}</span><br>
        </div>
        <hr>
        <app-order-delivery-costs [deliveryFee]="order.restaurant.deliveryFee" [subtotal]="order.subtotalWithDiscount"
                                  [total]="order.totalValueWithDiscount"></app-order-delivery-costs>
      </div>
    </div>
  </div>

