<div class="dropdown" *ngIf="isLoggedIn(); else notLoggedIn">
  <div class="mr-4" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
    <em style="font-size: 24px; color: #EA1D2C" data-feather="user"></em>
  </div>
  <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton" style="width: 280px; margin-right: -3px">
    <button class="dropdown-item" style="height: 50px;font-size: 18px; font-weight: bold"
            (click)="navigateToEdit()">
      <em class="fa fa-store"></em> Profile
    </button>
    <button class="dropdown-item" style="height: 50px; font-size: 18px; font-weight: bold"
            (click)="navigateToOrders()">
      <em class="far fa-sticky-note"></em>
      Orders
    </button>
    <button class="dropdown-item" style="height: 50px; font-size: 18px; font-weight: bold"
            (click)="logout()">
      <em class="fa fa-sign-out-alt"></em> Logout
    </button>
  </div>
</div>
<ng-template #notLoggedIn>
  <a (click)="login()">
    <div class="mr-4" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
      <em style="font-size: 24px; color: #EA1D2C" class="fas fa-sign-in-alt"></em>
    </div>
  </a>
</ng-template>

