<div class="dropdown" *ngIf="isLoggedIn(); else notLoggedIn">
  <div class="mr-4" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
    <em class="text-red" data-feather="user"></em>
  </div>
  <div class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item"
            (click)="navigateToEdit()">
      <em class="fa fa-store"></em> Profile
    </button>
    <button class="dropdown-item"
            (click)="navigateToOrders()">
      <em class="fa fa-shopping-basket"></em>
      Orders
    </button>
    <button class="dropdown-item"
            (click)="logout()">
      <em class="fa fa-sign-out-alt"></em> Logout
    </button>
  </div>
</div>
<ng-template #notLoggedIn>
  <a (click)="login()">
    <div class="mr-4" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
      <em class="fas fa-sign-in-alt text-red"></em>
    </div>
  </a>
</ng-template>

