<div class="container mt-4">
  <h3 class="mb-4"><strong>Restaurant Schedule</strong></h3>
  <p>Choose the times your restaurant will open at Ifood.</p>
  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!isLoading">
    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-primary" (click)="openAddModal()"><em class="bi-plus-lg"></em>
        <strong> Add Schedule</strong>
      </button>
    </div>
    <table class="table table-striped table-bordered text-center mt-2">
      <thead>
      <tr>
        <th>Ativo</th>
        <th>Dia da semana</th>
        <th>Horário de abertura</th>
        <th>Horário de fechamento</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let schedule of schedule">
        <td>
          <div class="form-check justify-content-center align-items-center d-flex aaa">
            <input type="checkbox" (change)="updateScheduleStatus($event, schedule)"
                   class="form-check-input custom-checkbox" id="exampleCheck1"
                   [checked]="schedule.active">
          </div>
        </td>
        <td>{{schedule.dayOfWeek}}</td>
        <td>{{schedule.openingTime}}</td>
        <td>{{schedule.closingTime}}</td>
        <td>
          <button class="btn btn-sm mr-1 mb-1 mb-lg-0" (click)="openEditModal(schedule)">
            <em class="bi-pen" style="color: #666666"></em>
          </button>
          <button class="btn  btn-sm" (click)="deleteSchedule(schedule)">
            <em class="bi-trash" style="color: #ec1c2d"></em>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
