<p class="alert alert-danger" *ngIf="mensagem">
  {{ mensagem }}
</p>

<form *ngIf="registrandoUsuario" class="mb-5" #registroUsuarioForm="ngForm" (ngSubmit)="registraUsuario()">
  <div class="form-group">
    <label for="username">Usuário:</label>
    <input class="form-control" placeholder="registre um usuário" [(ngModel)]="userInfo.username" required id="username"
           name="username">
  </div>
  <div class="form-group">
    <label for="password">Senha:</label>
    <input class="form-control" placeholder="registre uma senha" [(ngModel)]="userInfo.password" type="password"
           required id="password" name="password">
  </div>
  <div class="form-group">
    <label for="passwordConfirmation">Confirmação da Senha:</label>
    <input class="form-control" placeholder="confirme a senha" [(ngModel)]="userInfo.passwordConfirmation"
           type="password" required id="passwordConfirmation" name="passwordConfirmation"
           #passwordConfirmation="ngModel">
    <p class="text-danger mt-2" *ngIf="passwordConfirmation.dirty && !validaSenhas()">A senha e a confirmação não
      conferem.</p>
  </div>
  <button type="submit" class="btn btn-primary mr-1" [disabled]="!registroUsuarioForm.form.valid || !validaSenhas()">
    Registrar usuário
  </button>
</form>

<form *ngIf="!registrandoUsuario" class="mb-5" #restauranteForm="ngForm" (ngSubmit)="salvaRestaurante()">

  <div class="form-group">
    <label for="nome">Name</label>
    <input class="form-control" placeholder="digite o nome do restaurante" [(ngModel)]="restaurant.name" type="text"
           required id="nome" name="nome">
  </div>

  <div class="form-group">
    <label for="nome">CNPJ</label>
    <input class="form-control" placeholder="00.000.000/0000-00" [(ngModel)]="restaurant.cnpj" required id="cnpj"
           name="cnpj" [textMask]="{mask: cnpjMask}">
  </div>

  <div class="form-group">
    <label for="tipoDeCozinha">Cuisine Type</label>
    <select class="form-control" [(ngModel)]="restaurant.cuisineTypeId" required id="tipoDeCozinha"
            name="tipoDeCozinha">
      <option *ngFor="let tipo of tiposDeCozinha" [value]="tipo.id">{{tipo.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="descricao">Description:</label>
    <textarea class="form-control" [(ngModel)]="restaurant.description" id="descricao"
              name="descricao"></textarea>
  </div>

  <div class="form-group">
    <label for="cep">CEP:</label>
    <input class="form-control" required [(ngModel)]="restaurant.cep" id="cep" name="cep" [textMask]="{mask: cepMask}">
  </div>

  <div class="form-group">
    <label for="endereco">Address:</label>
    <textarea required class="form-control" [(ngModel)]="restaurant.address" id="endereco"
              name="endereco"></textarea>
  </div>

  <div class="form-group">
    <label for="taxaDeEntregaEmReais">Delivery Price (in $)</label>
    <input class="form-control" [(ngModel)]="restaurant.deliveryFee" type="text" id="taxaDeEntregaEmReais"
           name="taxaDeEntregaEmReais">
  </div>

  <div class="form-group">
    <label for="tempoDeEntregaMinimoEmMinutos">Min Delivery Time (in minutes):</label>
    <input class="form-control" [(ngModel)]="restaurant.minDeliveryTime" type="number" min="10" max="180"
           id="tempoDeEntregaMinimoEmMinutos" name="tempoDeEntregaMinimoEmMinutos" placeholder="entre 10 e 180">
  </div>

  <div class="form-group">
    <label for="tempoDeEntregaMaximoEmMinutos">Max Delivery Time (in minutes):</label>
    <input class="form-control" [(ngModel)]="restaurant.maxDeliveryTime" type="number" min="10" max="180"
           id="tempoDeEntregaMaximoEmMinutos" name="tempoDeEntregaMaximoEmMinutos" placeholder="entre 10 e 180">
  </div>

  <button class="btn btn-primary btn-lg mb-3" type="submit"
          [disabled]="!restauranteForm.form.valid">{{ restaurant.id ? 'Update' : 'Register' }}</button>

</form>

<div class="mb-5" *ngIf="restaurant.id">

<!--  <ngb-accordion>-->

<!--    <ngb-panel>-->
<!--      <ng-template ngbPanelTitle>-->
<!--        <h2>Payment Methods</h2>-->
<!--      </ng-template>-->
<!--      <ng-template ngbPanelContent>-->
<!--        <app-formas-de-pagamento [restaurant]="restaurant"></app-formas-de-pagamento>-->
<!--      </ng-template>-->
<!--    </ngb-panel>-->

<!--    <ngb-panel>-->
<!--      <ng-template ngbPanelTitle>-->
<!--        <h2>Menu</h2>-->
<!--      </ng-template>-->
<!--      <ng-template ngbPanelContent>-->
<!--        <app-cardapio-listagem [restaurant]="restaurant"></app-cardapio-listagem>-->
<!--      </ng-template>-->
<!--    </ngb-panel>-->

<!--    <ngb-panel>-->
<!--      <ng-template ngbPanelTitle>-->
<!--        <h2>Business Hours</h2>-->
<!--      </ng-template>-->
<!--      <ng-template ngbPanelContent>-->
<!--        <app-horarios-de-funcionamento [restaurant]="restaurant"></app-horarios-de-funcionamento>-->
<!--      </ng-template>-->
<!--    </ngb-panel>-->

<!--  </ngb-accordion>-->

</div>
