<!--<div class="menu-item-info-box d-flex" >-->
<!--  <span class="menu-item-info-box-icon"><img [src]="menuItem.imageUrl"></span>-->
<!--  <div class="menu-item-info-box-content">-->
<!--    <span class="menu-item-info-box-text">{{menuItem.name}}</span>-->
<!--    <span class="menu-item-info-box-detail">{{menuItem.description}}</span>-->
<!--    <span class="menu-item-info-box-price">{{menuItem.unitPrice | currency: 'USD': "symbol"}}</span>-->
<!--    <span class="menu-item-info-box-original-price">{{menuItem.unitOriginalPrice | currency: 'USD': "symbol"}}</span>-->
<!--    <a (click)="emitAddEvent()" class=""><em class="fa fa-plus-circle"></em> Add</a>-->
<!--  </div>-->
<!--</div>-->


<div (click)="emitAddEvent()" class="card flex-row shadow-sm cursor" style="width: 33rem; height: 15rem">
  <div class="d-flex align-items-center justify-content-center" style="width: 200px; min-width: 200px">
      <img [src]="menuItem.imageUrl" alt="..." style="width: 90%">
  </div>
  <div class="card-body">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <p *ngIf="menuItem.description.length<100">{{menuItem.description}}</p>
    <p *ngIf="menuItem.description.length>100">{{menuItem.description.substring(0, 100) + '...'}}</p>
    <span class="menu-item-info-box-price">{{menuItem.unitPrice | currency: 'USD': "symbol"}}</span>
    <span class="menu-item-info-box-original-price">{{menuItem.unitOriginalPrice | currency: 'USD': "symbol"}}</span>
  </div>
</div>

