<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img [src]="menuItem.imageUrl"></span>
  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <span class="menu-item-info-box-detail">{{menuItem.description}}</span>
    <span class="menu-item-info-box-price">{{menuItem.unitPrice | currency: 'BRL': true}}</span>
    <span class="menu-item-info-box-original-price">{{menuItem.unitOriginalPrice | currency: 'BRL': true}}</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Add</a>
  </div>
</div>
