<div class="card-columns mb-5" *ngIf="pendingOrders?.length">
  <div class="card" *ngFor="let order of pendingOrders">
    <div class="card-body">
      <h5 class="card-title">{{ order.status | statusDoPedido }}</h5>

        <p><strong>Client: </strong>{{ order.delivery.client.name }}</p>
        <p><strong>Phone: </strong><a href="tel:{{ order.delivery.client.phone }}">{{ order.delivery.client.phone }}</a></p>
        <p><strong>Address: </strong>{{ order.delivery.address }} {{ order.delivery.complement }}</p>

        <div *ngFor="let orderItem of order.items">
          <p>{{ orderItem.quantity }}x {{ orderItem.menuItemId }}
            <p><small>{{ orderItem.observation }}</small></p>
        </div>

        <button class="btn btn-primary" *ngIf="order.status == 'PAID'" (click)="confirma(order)">Confirm</button>
        <button class="btn btn-primary" *ngIf="order.status == 'CONFIRMED'" (click)="avisaPronto(order)">Completed</button>
        <button class="btn btn-primary" *ngIf="order.status == 'COMPLETED'" (click)="avisaSaiu(order)">Shipped</button>
        <button class="btn btn-primary" *ngIf="order.status == 'SHIPPED'" (click)="avisaEntregue(order)">Finish</button>

    </div>
  </div>
</div>
<div *ngIf="!pendingOrders?.length">
  <p>There are no pending orders!</p>
</div>
