<div class="dropdown">
  <div class="mr-4" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
                      style="background-color: #EA1D2C">
                  {{this.itemsCount}}</span>
    <em style="font-size: 24px" data-feather="shopping-bag"></em>
  </div>
  <div class="dropdown-menu mt-3 align-items-center justify-content-center" aria-labelledby="dropdownMenuButton"
       style="width: 380px; margin-right: -3px">
    <div class="flex-row align-items-center justify-content-center p-2">
      <div class="w-100">
        <div class="d-flex justify-content-center align-items-center">
          <p *ngIf="!items().length">Add items from a restaurant to start a new cart</p>
        </div>
        <div *ngIf="items().length" class="table-responsive justify-content-center align-items-center">
          <div class="mt-2">
            <span>Your order in</span><br>
            <span class="fs-6"><strong>{{restaurant.name}}</strong></span>
          </div>
          <div class="overflow-auto w-100" style="max-height: 240px">
          <table class="table mt-2">
            <tbody>
            <tr *ngFor="let item of items()">
              <th class="fw-normal">{{item.quantity}}x {{item.name}}</th>
              <td class="text-center"><b>{{item.subtotalWithDiscount() | currency: 'USD': 'symbol'}}</b></td>
              <td class="text-center">
                <a (click)="removeItem(item)" class="btn btn-sm">
                  <em class="fa fa-trash" style="color: #333333"></em>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          </div>
          <div><strong>Delivery</strong></div>
          <table class="table">
            <tbody>
            <tr>
              <th class="fw-normal">Subtotal</th>
              <td class="text-end">{{total() | currency: 'USD': 'symbol'}}</td>
            </tr>
            <tr>
              <th class="fw-normal">Delivery Fee</th>
              <td class="text-end">{{restaurant.deliveryFee | currency: 'USD': 'symbol'}}</td>
            </tr>
            <tr>
              <th>Total</th>
              <td class="text-end"><b>{{total() + restaurant.deliveryFee | currency: 'USD': 'symbol'}}</b></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="items().length">
      <div class="d-flex align-items-center justify-content-center">
        <a (click)="checkoutOrder()" class="btn btn-success mt-2 me-1"><i class="fa fa-credit-card"></i> Finish Order</a>
        <button (click)="clear()" type="button" class="btn btn-danger mt-2"><i class="fa fa-trash"></i> Clear</button>
      </div>
    </div>
  </div>
</div>
