<div class="box-cart shadow-none border-0" style="min-width: 300px">
  <div class="empty-message" *ngIf="!items().length">
    <p>Add items from a restaurant to start a new cart</p>
  </div>
  <div *ngIf="items().length" class="table-responsive">
    <div class="mt-2">
    <span >Your order in</span><br>
    <span class="cart-restaurant-name"><strong>{{restaurant.name}}</strong></span>
    </div>
    <table class="table mt-2">
      <tbody>
      <tr *ngFor="let item of items()">
        <th class="ttt">{{item.quantity}}x {{item.menuItem.name}}</th>
        <td class="text-right"><b>{{item.value() | currency: 'USD': 'symbol'}}</b></td>
        <td class="text-right">
          <a (click)="removeItem(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div><strong>Delivery</strong></div>
    <table class="table">
      <tbody>
      <tr>
        <th class="ttt">Subtotal</th>
        <td class=" ttt">{{total() | currency: 'USD': 'symbol'}}</td>
      </tr>
      <tr>
        <th class="ttt">Delivery Fee</th>
        <td class="ttt">{{restaurant.deliveryFee | currency: 'USD': 'symbol'}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td><b>{{total() + restaurant.deliveryFee | currency: 'USD': 'symbol'}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="items().length" class="box-footer">
  <div class="d-flex align-items-center justify-content-center">
    <a (click)="finishOrder()" class="btn btn-success mt-2 me-1"><i class="fa fa-credit-card"></i> Finish Order</a>
    <button (click)="clear()" type="button" class="btn btn-danger mt-2"><i class="fa fa-trash"></i> Clear</button>
  </div>
</div>

