<div *ngIf="isLoading()">
  <app-loading-bar></app-loading-bar>
</div>
<div *ngIf="!isLoading()">
  <h2 class="text-center mb-5">Track your order</h2>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <app-order-timeline class="w-100" [order]="order"></app-order-timeline>
    <div class="card ccc mb-3 w-50">
      <div class="card-body">
        <div class="d-flex flex-column">
          <h5 class="card-title"><strong>Deliver at</strong></h5>
          <span
            class="card-text text-muted mt-2">{{order.delivery.address.streetName | titlecase}} {{order.delivery.address.streetNumber}}</span>
          <span class="card-text text-muted">{{order.delivery.address?.neighborhood | titlecase}}
            - {{order.delivery.address?.city | titlecase}}</span>
        </div>
      </div>
      <div class="card-footer text-muted">
        <em class="fa fa-paper-plane"></em> Traceable Delivery
      </div>
    </div>
    <app-order-summary class="ccc w-50 mb-3" [order]="order"></app-order-summary>
    <div class="card ccc w-50 mb-3" *ngIf="(order.lastStatus | OrderStatusIndex) == 5">
      <div class="card-body" *ngIf="!review">
        <h5 class="card-title"><strong>Review your order</strong></h5>
        <form class="mb-3" [formGroup]="ratingForm" (ngSubmit)="createReview()">
          <div class="form-group">
            <rating required max="5" formControlName="rating" style="font-size: 24px; color: #e7a74e"></rating>
          </div>
          <div class="form-group">
            <textarea
              class="form-control w-100"
              id="comment"
              formControlName="comment"
              [ngClass]="{ 'is-invalid': comment.invalid && ( comment.dirty ||  comment.touched) }">></textarea>
          </div>
          <button class="btn btn-primary mt-2" type="submit" [disabled]="!ratingForm.valid">Review</button>
        </form>
        <p class="card-text text-muted">Choose between 1 or 5 stars to rate</p>
      </div>
      <div *ngIf="review">
        <div class="card-body">
          <h5 class="card-title"><strong>Rating recorded. Thank you!</strong></h5>
          <div class="form-group">
            <rating [(ngModel)]="review.userRating" readonly="true" max="5" style="font-size: 24px; color: #e7a74e"></rating>
          </div>
          <div class="form-group">
            <textarea class="form-control w-100" style="resize: none" disabled>{{review.comment}}</textarea>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
