<div *ngIf="isLoading">
  <app-loading-bar></app-loading-bar>
</div>
<div *ngIf="!isLoading">
  <section class="content">
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="box-body">
          <div class="menu-logo">
            <img class="box-img-detail" src="{{'https://localhost:3001/partner/profile/image/' + restaurant.imageUrl}}"
                 alt="Restaurant Logo">
          </div>
          <span class="box-title box-title-name">{{restaurant.name}}</span>
          <span class="rating-yellow-title"><em class="fa fa-star"></em>   {{reviews}}</span>
        </div>
        <div class="nav h-25">
          <div class="nav-item clickable w-50 text-center float-left" routerLinkActive="detail-active"
               routerLink="menus">
            Menu
          </div>
          <div class="nav-item clickable w-50 text-center float-right" routerLinkActive="detail-active"
               routerLink="reviews">
            Reviews
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
