<div *ngIf="isLoading">
  <app-loading-bar></app-loading-bar>
</div>
<div *ngIf="!isLoading">
  <section class="content">
    <div class="flex-row flex-row flex-wrap mb-4">
      <div class="flex-column flex-row" style="min-width: 200px">
        <div class="d-flex align-items-center ddd mt-4 ">
          <div class="d-flex">
            <div class="menu-logo">
              <img class="box-img-detail"
                   src="{{'http://localhost:9999/restaurants/image/restaurant/' + restaurant.imageUrl}}"
                   alt="Restaurant Logo">
            </div>
          </div>
          <div class="d-flex">
            <span class="fs-1 me-2">{{restaurant.name}}</span>
          </div>
          <div>
            <span class="rating-yellow-title"><em class="fa fa-star"></em>   {{reviews}}</span>
          </div>
        </div>
        <div class="nav h-25">
          <div class="nav-item cursor w-50 text-center float-left" routerLinkActive="active" routerLink="menus">
            Menu
          </div>
          <div class="nav-item cursor w-50 text-center float-right " routerLinkActive="active" routerLink="reviews">
            Reviews
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
