<div class="col mb-2" *ngFor="let review of reviews | async">
  <div class="card card-rating">
    <div class="card-body">
      <div class="row mb-1">
        <h5 class="card-title text-bold">{{review.name}}</h5>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span class="review-score text-lg">{{review.userRating}} <i class="fa fa-star rating-yellow"></i></span>
        </div>
        <div class="col">
          <span class="description text-lg text-muted float-end">{{review.createdAt | date:'dd/MM/yyyy'}}</span>
        </div>
      </div>
      <p>{{review.comments}}</p>
    </div>
  </div>
</div>

