.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 3s linear infinite;
}

.progress-complete {
  width: 100%;
}

.green-text {
  color: #50a773;
}

@keyframes progress-indeterminate {
  from { left: -50%; width: 50%; }
  to { left: 100%; width: 50%;}
}
