/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/

/*@import '~ngx-toastr/toastr.css';*/


/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.main-header {
  margin-bottom: 20px;
}

.box-header {
  color: inherit;
}

/*
 * Component: Place Info Box
 * -------------------
 */
.place-info-box {
  color: #555;
  display: flex;
  min-height: 120px;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  align-items: center;
  align-content: center;
}

.place-info-box:hover {
  background: #f8f8f8;
}

.place-info-box small {
  font-size: 14px;
}

.place-info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}

.place-info-box .progress,
.place-info-box .progress .progress-bar {
  border-radius: 0;
}

.place-info .progress .progress-bar {
  background: #fff;
}

.place-info-box-icon {
  position: relative;
  border-radius: 50%;
  display: block;
  float: left;
  width: 100px;
  margin-left: 10px;
  overflow: hidden;
  border: 1px solid #f2f2f2;

}

.place-info-box-icon > img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.place-info-box-content {
  padding: 5px 10px;
}

.place-info-box-detail {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  width: 100%;
}

.place-info-box-text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  width: 100%;
  float: left
}

.rating-yellow {
  color: #e7a74e;
}

.rating-yellow-title {
  color: #e7a74e;
  font-size: 24px;
}

.place-info-box-star {
  display: block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  width: 20%;
  float: right;
}

.place-info-box-more {
  display: block;
}

.progress-description {
  margin: 0;
}

/* Detail For restaurant */

.box-body {
  display: flex;
  min-height: 120px;
  box-shadow: none;
  align-items: center;
  border: none;
}

.box-cart {
  display: block;
  min-height: 120px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.empty-message {
  width: 100%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 16px;
}

.empty-message > p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.ttt {
  font-weight: normal;
}

.box-title-name {
  font-size: 42px;
  margin-right: 20px;
}

.menu-logo {
  position: relative;
  border-radius: 50%;
  display: flex;
  float: left;
  width: 100px;
  height: 100px;
  align-content: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 20px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
}

.box-img-detail {
  position: relative;
  align-content: center;
}

/*
 * Component: Menu Item
 * -------------------
 */
.menu-item-info-box {
  color: #555;
  display: block;
  min-height: 120px;
  min-width: 320px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-bottom: 15px;
}

.menu-item-info-box:hover {
  border: 1px solid #dbdad9;
}

.menu-item-info-box small {
  font-size: 14px;
}

.menu-item-info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}

.menu-item-info-box .progress,
.menu-item-info-box .progress .progress-bar {
  border-radius: 0;
}

.menu-item-info .progress .progress-bar {
  background: #fff;
}

.menu-item-info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: flex;
  float: left;
  /*height: 120px;*/
  height: 100%;
  width: 145px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.menu-item-info-box-icon > img {
  max-width: 80%;
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.menu-item-info-box-price {
  margin-right: 20px;
  font-size: 18px;
  color: #50a773;
}

.menu-item-info-box-original-price {
  margin-right: 20px;
  font-size: 14px;
  color: #a1a1a1;
  text-decoration: line-through;
}

.menu-item-info-box-content {
  padding: 5px 10px;
  margin-left: 120px;
}

.menu-item-info-box-content a {
  cursor: pointer;
}

.menu-item-info-box-detail {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
  width: 100%;
}

.menu-item-info-box-text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  width: 80%;
}

.menu-item-info-box-text {
}

.menu-item-info-box-more {
  display: block;
}

/**
 buttons
*/

.danger {
  color: #dd4b39;
  display: inline;
}

/*Jumbotrons*/

.jumbotron {
  background-color: #fff;
  text-align: center;
}

.jumbotron h2 {
  font-size: 40px;
}

.welcome-jumbotron h1 {
  margin-bottom: 60px;
}

.welcome-jumbotron p {
  margin-bottom: 60px;
  font-size: 30px;
}

/* inputs */

.fancy-radio {
  position: absolute;
  opacity: 0;
}

/*Review*/
.review-score {
  font-weight: bold;
}

/*rstaurant detail*/

.detail-footer {
  padding: 0px
}

.navbar {
  color: #f2f2f2;
}

.detail-footer > a {
  text-align: center;
  font-size: 16px;
  color: #555;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.detail-footer > a:hover {
  outline: none;
  text-decoration: none;
}

.detail-active {
  border-bottom: 2px solid #dd4b39;
}

.has-error-block {
  color: #dd4b39;
}

table th, table td {
  display: table-cell;
  vertical-align: middle;
}

.cart-restaurant-name {
  font-size: 16px;
}

.mt-2 {
  margin-top: 5px;
}

.sas {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}

.te {
  width: 700px;
}

.form-control {
  margin-right: 5px;
}

.aaa {
  background-color: #555555;
}

.aaa2 {
  background-color: #dd4b39;
}

.aaa3 {
  background-color: #e7a74e;
}

.card-rating {
  border-top: 1px solid #f2f2f2;
  box-shadow: none;
}

.tttt {
  width: 10px;
}

.aafa {
  height: 62px;
  width: 76px;
}

.item-i:hover {
  transform: scale(1.1);
}

.cursor {
  cursor: pointer;
}
