<div class="container mt-4">
  <h3 class="mb-4"><strong>Restaurant Payment Methods</strong></h3>
  <p>Choose the payment methods your restaurant accepts.</p>
  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!isLoading">
    <p>Your restaurant accepts:</p>
    <div *ngIf="!restaurantPaymentMethods.length">
      <div class="badge ms-2 bg-secondary mb-4">Seu restaurante ainda não aceita nada</div>
    </div>
    <div *ngIf="restaurantPaymentMethods.length">
      <div class="d-flex flex-row mb-4 align-items-center" style="height: 40px; border: 1px solid #f2f2f2">
    <span (click)="deletePaymentMethod(paymentMethod)" class="badge ms-2 bg-primary-red" style="cursor: pointer"
          *ngFor="let paymentMethod of restaurantPaymentMethods">{{paymentMethod.name | PaymentMethod}}
      <em class="bi-x"></em>
    </span>
      </div>
    </div>
    <div *ngIf="allPaymentMethods.length">
      <p>Add a payment method:</p>
      <div class="form-control-sm">
        <select (change)="onChange($event)" class="form-select" aria-label="Default select example">
          <option selected>Choose...</option>
          <option *ngFor="let paymentMethod of allPaymentMethods"
                  [value]="paymentMethod.paymentMethodId">{{paymentMethod.name | PaymentMethod}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="!allPaymentMethods.length">
      <p>Your restaurant accepts all payment methods</p>
    </div>
  </div>
</div>
