<div class="container-fluid vh-100" style="height: 100%">
  <img class="brand-image mt-2" src="../../../../assets/img/ifood.logo.svg" alt="" height="50px" style="position: absolute">
  <div class="row">
    <div class="col-8 justify-content-center align-items-center d-flex" style="background-color: #FDEDEE; border-radius: 0 100% 100% 0">
      <img src="assets/img/people-buying.svg" />
    </div>
    <div class="col-4 vh-100 align-items-center justify-content-center d-flex">
      <div class="card w-75 border-0 shadow-sm" style="margin-left: -350px">
        <div class="card-body">
          <h5 class="card-title mb-3"><strong>Login</strong></h5>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <app-input errorMessage="Email is required" label="Email">
                <input type="email"
                       class="form-control"
                       id="email"
                       formControlName="email"
                       placeholder="Email"
                       autocomplete="on"
                       [ngClass]="{ 'is-invalid': email.invalid && ( email.dirty ||  email.touched) }">
              </app-input>
            </div>
            <div class="mb-3">
              <app-input errorMessage="Password is required" label="Password">
                <input type="password"
                       class="form-control"
                       id="password"
                       formControlName="password"
                       placeholder="Password"
                       autocomplete="off"
                       [ngClass]="{ 'is-invalid': password.invalid && ( password.dirty ||  password.touched) }">
              </app-input>
            </div>
            <button type="submit" class="btn btn-danger w-100" [disabled]="!loginForm.valid"><strong>Logar</strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
