<div (click)="emitAddEvent()" class="card flex-row shadow-sm cursor" style="height: 15rem">
  <div class="d-flex align-items-center justify-content-center" style="max-width: 15rem;min-width: 15rem; width: 15rem">
    <img class="menu-item-image" src="{{'https://localhost:3001/partner/item/image/' + menuItem.imageUrl}}" alt="...">
  </div>
  <div class="card-body d-flex flex-column">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <p *ngIf="menuItem.description.length<100">{{menuItem.description}}</p>
    <p *ngIf="menuItem.description.length>100">{{menuItem.description.substring(0, 100) + '...'}}</p>
    <div class="" style="position: absolute;bottom: 0; right: 0;margin-bottom: 2px">
      <span class="menu-item-info-box-price">{{menuItem.unitPrice | currency: 'USD': "symbol"}}</span>
      <span class="menu-item-info-box-original-price">{{menuItem.unitOriginalPrice | currency: 'USD': "symbol"}}</span>
    </div>
  </div>
</div>

