.card {
  height: 15rem;
  min-width: 250px;
}

.card-image {
  min-width: 30%;
  width: 30%;
}

.menu-item-image {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

.menu-item-info-box-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}

.menu-item-info-box-price {
  margin-right: 20px;
  font-size: 18px;
  color: #50a773;
}

.menu-item-info-box-original-price {
  margin-right: 20px;
  font-size: 14px;
  color: #a1a1a1;
  text-decoration: line-through;
}

.place-info-box-icon {
  position: relative;
  display: flex;
  float: left;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.place-info-box-icon > img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

