<div (click)="emitAddEvent()" class="card shadow-sm cursor mb-4">
  <div class="d-flex flex-row w-100 h-100">
    <div class="card-image d-flex align-items-center justify-content-center">
      <span class="place-info-box-icon">
           <img class="menu-item-image"
                src="{{'http://localhost:9999/restaurants/image/menu-item/' + menuItem.imageUrl}}" alt="...">
         </span>
    </div>
    <div class="card-body d-flex flex-column">
      <span class="menu-item-info-box-text text-uppercase">{{menuItem.name}}</span>
      <p *ngIf="menuItem.description.length<100">{{menuItem.description}}</p>
      <p *ngIf="menuItem.description.length>100">{{menuItem.description.substring(0, 100) + '...'}}</p>
      <div class="position-absolute mb-2 end-0 bottom-0">
        <span class="menu-item-info-box-price">{{menuItem.promotionalPrice | currency: 'USD': "symbol"}}</span>
        <span *ngIf="menuItem.price != menuItem.promotionalPrice"
              class="menu-item-info-box-original-price">{{menuItem.price | currency: 'USD': "symbol"}}</span>
      </div>
    </div>
  </div>
</div>

