<a [routerLink]="['/restaurant',restaurant.id]">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="restaurant.imageUrl" alt=""/></span>
    <div class="place-info-box-content">
      <span class="place-info-box-text">{{restaurant.name}}</span>
      <span class="place-info-box-detail">
        <span class="rating-yellow">
          <em class="fa fa-star"></em> {{restaurant.userRating | number : '1.1-1'}}
          </span> • {{restaurant.mainCategory}} • {{restaurant.distance}} km</span>
      <span class="place-info-box-detail">{{restaurant.minDeliveryTime}}-{{restaurant.maxDeliveryTime}} min • $ {{restaurant.deliveryFee}}</span>
    </div>
  </div>
</a>
